{% load static %}
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <!-- Begin page content -->
  
    <div class="header m-5">
      <center>
          <h1>ALL PRODUK HIJAB MUSLIMAH</h1>
      </center>
  </div>

  <div class="album py-5 bg-light">
      <div class="container">

          <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
              <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'img/phasmina 1.jpg' %}" class="card-img-top" alt="...">

                      <div class="card-body">
                          <h3>Rp. 35.000</h3>
                          <p class="card-text">Phasmina</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                              </div>
                              <small class="text-muted">9 mins</small>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card shadow-sm">
                      <img src="{% static 'img/khimar.jpg' %}" class="card-img-top" alt="...">

                      <div class="card-body">
                          <h3>Rp. 30.000</h3>
                          <p class="card-text">Khimar Non Pet</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                              </div>
                              <small class="text-muted">9 mins</small>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'img/hijab segi 4.jpg' %}" class="card-img-top" alt="...">

                      <div class="card-body">
                          <h3>Rp. 25.000</h3>
                          <p class="card-text">Hijab Segi Empat</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                              </div>
                              <small class="text-muted">9 mins</small>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'img/bergo.jpg' %}" class="card-img-top"
                          alt="...">

                      <div class="card-body">
                          <h3>Rp. 30.000</h3>
                          <p class="card-text">Hijab Bergo Jumbo</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                              </div>
                              <small class="text-muted">9 mins</small>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'img/ciput3.jpg' %}" class="card-img-top" alt="...">

                      <div class="card-body">
                          <h3>Rp. 15.000</h3>
                          <p class="card-text">ciput Ninja</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                              </div>
                              <small class="text-muted">9 mins</small>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'img/ciput 1.jpg' %}" class="card-img-top" alt="...">

                      <div class="card-body">
                          <h3>Rp. 6.000</h3>
                          <p class="card-text">Ciput Rajut</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                              </div>
                              <small class="text-muted">9 mins</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

<footer class="mt-auto text-white-50">
  <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
      href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
</footer>